.btn {
  background: #6C63FF;
  padding: 1.5% 4%;
  border-radius: 2px;
  color: #fcf7ff;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  mix-blend-mode: hard-light ;
}
.btn:hover {
  background: #ff4800;
  mix-blend-mode: color-dodge;
  animation-duration: 1s;
  animation-name: changecolors;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes changecolors {
  from {
    background: #00c3ff;
  }
  to {
    background: #ff5e00;
  }
}